<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>productflagmod</name>
    <displayName><![CDATA[Product best online price]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[lorem ipsum]]></description>
    <author><![CDATA[kch.software]]></author>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
